@model PartialViewsExample.Models.CartShirtViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Test</title>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>
                            @Html.ActionLink("Home","Index", "Home")
                        </li>
                        <li>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
        @Html.Partial("PartialOrder",Model.Order)
        @Html.Partial("PartialShirt",Model.ShirtOrderViewModel)
    </div>
    <footer></footer>
</body>
</html> 